/* Main Container Styling */
.home-container {
  max-width: 100vw;
  margin: auto;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 62px); /* Full viewport height minus navbar height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box;
  padding-top: 40px; /* Ensures content starts below navbar */
  
}

/* Custom Scrollbar */
.home-container::-webkit-scrollbar {
  width: 10px;
}

.home-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.home-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}